body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;   
}
#parent{
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
}
#child{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}

