/* მანამ სანამ ამ ლინკზე გადავალთ იქამდე იქნება იასამნისფერი და ქვედახაზით */
a:link{
    color: blueviolet;
    text-decoration: underline;
}
/* როცა მაუსით გადვავუვლით მაშინ იქნება გაწითლებული სავ ფონც=ზე და გადიდებული*/
a:hover{
    background-color: black;
    color: red;
}
/* როცა ლინკზე გადავალთ მაგის მერე იქნება მწვანე ზედა ხაზით */
a:visited{
    color: green;
    text-decoration: overline;
}
/* სანამ ლინკს ვაჭერთ იქამდე იქნება ყვითეწლი */
a:active{
    color: yellow;
}

button{
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
    font-weight: 600;
    padding: 0 48px;
    min-height: 48px;
    background-color: blue;
}
button:hover{
    background-color: lightblue;
}